.policy-main {
  position: absolute;
  top: 10ch;
  left: 4%;
}

.policy-container {
  background-color: #f9f9f9;
  padding: 50px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: auto;
}

.contentt {
  position: relative;
  left: 2%;
}

.policy-container h2 {
  color: #333;
}

.policy-container p {
  color: #666;
  width: 100%;
}
