.policy-main {
  /* position: absolute; */
  padding: 50px;
  /* top: 10ch;
  left: 4%; */
  background: linear-gradient(190deg, rgb(224, 208, 162) 5%,rgb(218, 135, 79) 50%, transparent);
}

.policy-container {
  background-color: #f9f9f9;
  padding: 50px;
  margin-bottom:20px ;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: auto;
  position: relative;
  top: 5ch;
  background: linear-gradient(360deg, rgb(230, 177, 32) 5%,rgb(238, 147, 86)40%, transparent);

}

.contentt {
  position: relative;
  left: 2%;
}

.policy-container h2 {
  color: #000000;
}

.policy-container p {
  color: #000000;
  width: 100%;
}
.link-style-policy:hover{
  text-decoration: underline;
}
