 
    /* Toggle CSS*/
  /* Middle */
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 50%;
    -webkit-transform: translateY(5%);
    -ms-transform: translateY(5%);
    transform: translateY(5%);
  }

  .crescent {
    position: absolute;
    border-radius: 100%;
    right: 0;
    width: 6rem;
    height: 6rem;
    background: white;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    -webkit-transition: -webkit-transform .6s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform .6s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform .6s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform .6s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform .6s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  label, .toggle {
    height: 2.8rem;
    border-radius: 100px;
    
  }
  
  label {
    width: 100%;
    background-color: rgba(218, 70, 25, 0.699);
    border-radius: 100px;
    position: relative;
    margin: 1.8rem 0 4rem 0;
    cursor: pointer;
  }
  
  .toggle {
    position: absolute;
    width: 50%;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 15px rgba(0,0,0,.15);
    box-shadow: 0 2px 15px rgba(0,0,0,.15);
    -webkit-transition: -webkit-transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: -webkit-transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  .names {
    font-size: 90%;
    font-weight: bolder;
    color: black;
    width: 65%;
    /* margin-left: 12.5%; */
    position: absolute;
    top: 1ch;
    left: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

  }
  .names .dark{
    position: relative;
    left: -50px;
    color: #fff;
    font-size: larger;
  }
  .names .light{
    position: relative;
    /* left: 35px; */
    font-size: larger;
  }
  /* -------- Switch Styles ------------*/
  [type="checkbox"] {
    display: none;
  }
  /* Toggle */
  [type="checkbox"]:checked + .app .toggle {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    background-color: #ffffff;
  }
  
  [type="checkbox"]:checked + .app .dark {
    opacity: 1;
    color: rgb(0, 0, 0);
  }
  
  [type="checkbox"]:checked + .app .light {
    opacity: 1;
    color: rgb(255, 255, 255);
  }

  