<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="toggle.css">
    <title>Document</title>
</head>

<body>
    <input id="switch" type="checkbox">
    <div class="app">
        <div class="body">

            <div class="phone">
                <div class="content">
                    <label for="switch">
                        <div class="toggle"></div>
                        <div class="names">
                            <p class="light">Monthly</p>
                            <p class="dark">Annualy</p>
                        </div>
                    </label>
                </div>
            </div>
        </div>

    </div>


    <!-- <div className="header-row">
        <p>Annually</p>
        <label className="price-switch">
          <input
            className="price-checkbox"
            onChange={() => {
              setSelectMonthly(!selectMonthly);
            }}
            type="checkbox"
          />
          <div className="switch-slider"></div>
        </label>
        <p>Monthly</p>
      </div> -->

</body>

</html>